.row {
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  background-color: var(--primary-color);
}

.description-containder {
  padding: 0.3rem 0.8rem;
  background-color: var(--toned-color);
  border-radius: 0 0 0.3rem 0.3rem;
  margin: 0 0.2rem;
}

.row-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.left-element {
  margin-right: 0.8rem;
}

.right-element {
  margin-left: auto;
}

.icon-container {
  padding: 0.3rem;
}

.name-container {
  font-size: 1.5rem;
}

.shrunk-icon {
  transition: ease-out var(--out-time);
}

.expanded-icon {
  transform: rotate(-90deg);
  transition: ease-out var(--in-time);
}

.shrunk-description {
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: var(--in-time);
}

.expanded-description {
  max-height: auto;
  overflow: hidden;
  transform: scaleY(1);
  transform-origin: top;
  transition: var(--out-time);
}

@media only screen and (min-width: 450px) {
  .info-container {
    width: 500px;
  }

  .row {
    height: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .info-container {
    width: 300px;
  }

  .row {
    height: 5rem;
  }
}
